<!DOCTYPE html>
<html>
<head>
    <title>SportParser - Information analytical system</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="container-fluid header">
    <div class="row">
        <div class="col-lg-3">
            <a href="/"><h1>SportParser</h1></a>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-5 nav">
            <nav class="top-menu">
                <a class="btn {% if section == 'main' %} active {% endif %}" href="/">Main</a>
                {% if user.userId > 0 %}
                    <a class="btn {% if section == 'teams' %} active {% endif %}" href="/teams">Teams</a>
                    <a class="btn {% if section == 'stat' %} active {% endif %}" href="/stat">Statistic</a>
                    <a class="btn {% if section == 'login' %} active {% endif %}" href="/logout">Logout</a>
                {% else %}
                    <a class="btn {% if section == 'login' %} active {% endif %}" href="/login">Login</a>
                {% endif %}
            </nav>
        </div>
    </div>
</div>
<div class="container main">
    <div class="row">
        {% block body %}{% endblock %}
    </div>
</div>
<footer class="container-fluid">
    <div class="row">
        <div class="col-lg-12"></div>
    </div>
</footer>
</body>
</html>
