{% extends 'layout.twig' %}

{% block body %}
    <div class="container main">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form action="" method="POST">
                    <label for="login"><i class="fas fa-sign-in-alt"></i>Login:</label>
                    <input class="form-control" type="text" name="login" id="login">
                    <label for="password"><i class="fas fa-key"></i>Password:</label>
                    <input class="form-control" type="password" name="password" id="password">
                    <button class="btn btn-more">LOGIN</button>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}