{% extends 'layout.twig' %}

{% block body %}
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form action="" method="POST">
            <label for="login"><i class="fas fa-sign-in-alt"></i>Login:</label>
            <input class="form-control" type="text" name="login" id="login">
            <label for="password"><i class="fas fa-key"></i>Password:</label>
            <input class="form-control" type="password" name="password" id="password">
            <button class="btn btn-more">LOGIN</button>
            {% if error == 1 %}
                <p class="text-danger">Bad username or password</p>
            {% endif %}
        </form>
    </div>
    <div class="col-lg-3"></div>
{% endblock %}