{% extends 'layout.twig' %}

{% block body %}
    <div class="col-lg-12">
        <div class="teams">
            {% for team in teams %}
                <div>
                    <p class="lead">{{ team.l }}</p>
                    {% for teamName in team.teams %}
                        <a href="/teams/{{ teamName }}">{{ teamName }}</a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}